{% extends 'account/base.html.twig' %}

{% block title %} listes des véhicules à vendre !{% endblock %}

{% block body %}
   


<div class="class container">
<h2 class ="my-3"> listes des véhicules à vendre </h2>
<div class=" row">
{% for vente in ventes %}
<div class="col-md-4">

 <div class="card bg-light mb-3">
 <div class="card-header text-center">
 {{ vente.vehicule.marque }} {{ vente.vehicule.modele }} <br>
 <small> {{ vente.montant ~ '€' }} </small>
 
 
 </div>

 <img src="/uploads/{{ vente.vehicule.imageVehicule }}" alt="une image" 
 
 style="height: 200px; width: 100%; display:block">

 <div class="card-body">
 <h4 class="card-title">
   Détails
 </h4>
<p class="card-text"> 

année: {{vente.vehicule.anneeFabrication|date("Y")}} <br>
carburant: {{vente.vehicule.carburant}} <br>
kilometrage: {{vente.vehicule.kilometrageActuel ~ ' km'}} <br>
transmission: {{vente.vehicule.transmission}} <br>
puissance: {{vente.vehicule.puissance ~ 'cv'}} <br>
options: {{vente.vehicule.options}} <br>


</p>

<a href="{{ path('client_ventes_achat', {'id': vente.id}) }}" class="btn btn-secondary"> acheter</a>
 
 </div>
 
 
 
 </div>


</div>   
{% endfor %}
</div>





</div>





{% endblock %}
