
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
            <li class="nav-item active">
                <a class="nav-link" href="#"> <i class =" fas fa-chart-line">  </i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('admin_reparations_index')}}"> <i class="fas fa-car-mechanic"> </i> Réparations</a>
                   </li>
                    
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_reparateurs_index') }}"> <i class="fas fa-user-hard-hat"></i> Réparateurs </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{path('admin_client_index')}}"> <i class =" fas fa-users">  </i> Clients </a>
            </li>
           

            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-file-invoice-dollar"></i> Factures</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_ventes_index')}}"> <i class="fas fa-cars"></i> Ventes </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_locations_index')}}"> <i class="fas fa-exchange"></i> Locations </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path ('admin_Typebons_index')}}"> <i class="fas fa-money-bill"></i> Bons de réparation </a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-shopping-cart"></i> Commandes de pièces </a>
            </li>
            
         </ul>
        


         <ul class="navbar-nav ml-auto"> 
             
        <li class="nav-item">
                <a class="nav-link" href="{{path ('accueil')}}" target="_blank"> voir le site </a>
            </li>
            {% if app.user %}

            <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="accountDropdownLink" data-toggle ="dropdown"> {{app.user.fullName}}
            
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink"> 
            
              <a href="{{path('admin_account_logout')}}" class="dropdown-item"> Déconnexion</a>
            
              </div>
            </li>

            {% endif %}
            
            </ul>
          </div>
         </nav>