{% extends 'account/base.html.twig' %}

{% block title %} listes des véhicules à louer !{% endblock %}

{% block body %}
   


<div class="class container">
<h2 class ="my-3"> listes des véhicules à louer </h2>
<div class=" row">
{% for miseLocation in miseLocations %}
<div class="col-md-4">

 <div class="card bg-light mb-3">
 <div class="card-header text-center">
 {{ miseLocation.vehicule.marque }} {{ miseLocation.vehicule.modele }} <br>
 <small> {{ miseLocation.prixParJour ~ '€/jour' }} </small>
 
 
 </div>

 <img src="/uploads/{{ miseLocation.vehicule.imageVehicule }}" alt="une image" 
 
 style="height: 200px; width: 100%; display:block">

 <div class="card-body">
 <h4 class="card-title">
   Détails
 </h4>
<p class="card-text"> 

année: {{miseLocation.vehicule.anneeFabrication|date("Y")}} <br>
carburant: {{miseLocation.vehicule.carburant}} <br>
kilometrage: {{miseLocation.vehicule.kilometrageActuel ~ ' km'}} <br>
transmission: {{miseLocation.vehicule.transmission}} <br>
puissance: {{miseLocation.vehicule.puissance ~ 'cv'}} <br>
options: {{miseLocation.vehicule.options}} <br>
nombre de portes : {{miseLocation.vehicule.nbPortes}}


</p>

{#{% if miseLocation.statutMise == 'loué' %}

<a href="#" class="btn btn-secondary"> réserver</a>

{% else %}#}
  

<a href="{{path('client_locations_louer', {'id':miseLocation.id}) }}" class="btn btn-secondary"> louer</a>

{#{% endif %}#}




 
 </div>
 
 
 
 </div>


</div>   
{% endfor %}
</div>





</div>





{% endblock %}

{% block javascripts %}







{% endblock %}