{% extends 'admin_garage/base.html.twig' %}

{% block title %} les locations  {% endblock %}

{% block body %}
<div class="container-fluid">

		<h1 class="my-5">
			Gestion des locations</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						Id</th>
					<th>
						vehicule</th>
					
					<th>
						image</th>
					<th>
						statut location</th>
					<th>
						prix/jour</th>
                        <th> nombre de Jours </th>
                        <th> Total</th>

						<th> client </th>
					


					<th>
						Actions</th>
				</tr>
			</thead>

			<tbody>
				{% for location in locations %}

					<tr>
						<td>{{ location.id }}</td>
						<td>{{ location.vehicule.marque }} {{ location.vehicule.modele }}  </td>
						 {# on va chercher l'image du véhicule depuis le dossier oploads et grâce à la balise src en html 
						    on peut afficher l'image .
							la DB stocke juste le nom de l'image
						  #}
						<td><img src="/uploads/{{ location.vehicule.imageVehicule }}" alt="photo véhicule"</td>
						<td>{{ location.statutLocation}}</td>
                        <td>{{location.prix ~ '€/jour' }}</td>
                              

					
						   {% if location.statutLocation == 'loué' %}
                           <td> {{ location.nbJours }} </td>
                            
                            
                           <td>{{ location.prix * location.nbJours ~ '€' }}</td>
                           <td> {{location.client.nom}} </td>
						   
                           {% else %}
                           <td> {{ 0 }}
                            
                            
                           <td>{{ 0 ~ '€' }}</td>
                           <td> {{ 'aucun' }} </td>
						   
                               
						   {% endif %}
						  

		
							  
								 
					
						
						
						



						<td>
							<a href="{{ path('admin_locations_edit', {'id': location.id}) }}" class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('admin_locations_delete', {'id': location.id}) }}" class="btn btn-danger">
								<i class="fas fa-trash"></i>
							</a>

						</td>

					</tr>


				{% endfor %}
			</tbody>

		</table>


	</div>

	<a href="{{path('admin_locations_create')}}">
		<button class="btn-success ml-5 ">
			Ajouter une location
		</button>
	</a>

	
{% endblock %}


