{% extends 'base.html.twig' %}

{% block title %} listes des véhicules à louer !{% endblock %}

{% block body %}
   


<div class="class container">
<h2 class ="my-3"> véhicules à louer </h2>
<div class=" row">
{% for location in locations %}
<div class="col-md-4">

 <div class="card bg-light mb-3">
 <div class="card-header text-center">
 {{ location.vehicule.marque }} {{ location.vehicule.modele }} <br>
 <small> {{ location.prix ~ '€/jour' }} </small>
 
 
 </div>

 <img src="/uploads/{{ location.vehicule.imageVehicule }}" alt="une image" 
 
 style="height: 200px; width: 100%; display:block">

 <div class="card-body">
 <h4 class="card-title">
   Détails
 </h4>
<p class="card-text"> 

année: {{location.vehicule.anneeFabrication|date("Y")}} <br>
carburant: {{location.vehicule.carburant}} <br>
kilometrage: {{location.vehicule.kilometrageActuel ~ ' km'}} <br>
transmission: {{location.vehicule.transmission}} <br>
puissance: {{location.vehicule.puissance ~ 'cv'}} <br>
options: {{location.vehicule.options}} <br>
nombre de portes: {{location.vehicule.nbPortes}} 


</p>


<a href="{#{{ path('client_ventes_achat', {'id': vente.id}) }}#}" class="btn btn-secondary"> louer</a>
 
 </div>
 
 
 
 </div>


</div>   
{% endfor %}
</div>





</div>





{% endblock %}

{% block javascripts %}







{% endblock %}