{% extends 'admin_garage/base.html.twig' %}

{% block title %} les factures  {% endblock %}

{% block body %}
<div class="container-fluid">

		<h1 class="my-5">
			Gestion des factures</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						Id</th>
					<th>
						Libellé</th>
					
					<th>
						Date d'émission</th>
					
					<th>
						TVA</th>
						<th> Montant hors TVA</th>

						<th> Montant TTC</th>
					

						<th> Client </th>
						<th>  Est_payé </th>
						

					


					<th>
						Actions</th>
				</tr>
			</thead>

			<tbody>
				{% for facture in factures %}

					<tr>
						<td>{{ facture.id }}</td>
						<td>{{ facture.libelle }}  </td>
						
                        <td>{{facture.dateFacture |date("d/m/Y") }}</td>
                        <td> {{facture.tva}}   </td>
						<td> {{facture.montantHorsTVA  ~ ' €' }}   </td>


					
						   
                           <td> {{facture.montant ~ ' €'   }}</td>
                            
                            {#|round(1,'common')#}
                      
                           <td> {{facture.client}} </td>
						    <td> {{facture.estPaye}} </td>
						   
                           
                            
                           

		
							  
								 
					
						
						
						



						<td>
							<a href="{{ path('admin_factures_edit', {'id': facture.id}) }}" class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('admin_factures_delete', {'id': facture.id}) }}" class="btn btn-danger">
								<i class="fas fa-trash"></i>
							</a>
							<a href="{{ path('admin_factures_pdf' , {'id':facture.id}) }}" class="btn btn-info">
								version pdf
							</a>

						</td>

					</tr>


				{% endfor %}
			</tbody>

		</table>


	</div>

	<a href="{{path('admin_factures_create')}}">
		<button class="btn-success ml-5 ">
			Ajouter une facture
		</button>
	</a>

	
{% endblock %}


